
<div class="row" id="home-page-cotainer">
	<div class="col-md-3 cols-sm-3" id="left-side-bar">
		left-side-bar
	</div>
	<div class="col-md-6 cols-sm-6" id="main-board">
		Main bar with chat messages
	</div>
	<div class="col-md-3 cols-sm-3" id="right-side-bar">
		<div class="row user-info">
			<div class="col-md-8">
				<h3 class="text-success">Profile</h3>
				<ul class="list-no-style">
					<li> <b> Username:</b> {{ userInfo.UserName}}</li>
					<li> <b> Full name: </b>{{ userInfo.FullName}}</li>
					<li> <b> Email: <b> {{ userInfo.Email}}</li>
				</ul>
			</div>
			<div class="col-md-4 user-image-container">
				<img src="./img/No_image_available.svg" alt="" class="user-image img-responsive">
			</div>
		</div>
	</div>
</div>