body, div, article, aside, header, nav, ul, li, a, p, span, strong, em, footer, section, h1, h2, h3, h4 {
    margin:0;
    padding:0;
}

/*html {
  min-height:100%;
  position:relative
}

body {
  height:100%;
}*/

/*fix mozila buttons bug*/
@-moz-document url-prefix() {
    .firefox-button {
        margin-top: -65px;
    }

    .firefox-register-button {
        margin-top: 70px;
    }
}

.active {
  background-color: #95a5a6 !important;
}

.container{
  width: 95%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center{
	text-align: centerd;
}

.aligned-text{
	text-align: justify;
}

.display-inline-div {
	display: inline-block;
}

.centered-div {
  width: 80% 
  margin-right: auto;
  margin-left: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#registeration-form{
	width: 50%;
	margin-right: auto;
  	margin-left: auto;
  	padding: 15px;
	border: 1px solid #2c3e50;
	border-radius: 1%;
}

.centered-button {
  width: 35%; 
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

#login-form{
  padding-left: 120px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

.pull-left{
  text-align: left;
}

/* alert messages*/
.alerts-div {
	position: fixed;
	height: 60px;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 15px;
}

#left-side-bar {
  padding-left; 0px !important;
  height: 520px;
  border-right: 3px solid #95a5a6;
}

#right-side-bar {
  height: 520px;
  border-left: 3px solid #95a5a6;
}

#main-board{
    height: 100%;
}

#chatroom-name {
 margin-top: 5px;
  margin-bottom: 5px;
  font-size: 21px;
}
/*
#home-page-cotainer{
  margin-top: 80px;
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    overflow:hidden;
}
*/

.user-info {
  
}

.list-no-style {
  list-style-type: none;
}

.user-image-container {
  height: auto;
}

.user-image {
  width: 100%;
}

/* chatbox */
#chatbox {
  width:100%;
}

#chatbox #messagesbox {
  overflow-y: scroll;
  height: 440px;
} 

#chatbox #messagesbox{
  padding-bottom: 10px;
}

#chatbox #input-messagebox {
  position: relative;
  width:100%;
}

#chatbox #input-messagebox > input[type="text"] {
  width: 90%;
}

#chatbox #input-messagebox > input[type="submit"] {
  width: 9%;
  float: right;
}

.search-create-right-side-divs {
  margin-top: 10px;
  padding-left: 10px;
}

.found-chatroom-li {
  font-size: 18px;
  height: 40px;
  width: 100%;
  text-decoration: overline;
  text-decoration: underline;
}

.found-chatroom-li {
  font-size: 18px;
  height: 40px;
  width: 200px;
  text-decoration: overline;
  text-decoration: underline;
}

.chatroom-link {
  font-size: 16px;
  font-weight: bold;
}

.chatroom-link:hover {
   cursor: pointer;
   color: #e74c3c !important;
}

.pannel-headings {
  padding-bottom: 5px;
  text-decoration: underline;;
}

#chatroom-users {
  margin-left: 15px;
}
/*.found-chatroom-li:hover {
 background-color: #95a5a6;
 color: white !important;
}*/