body, div, article, aside, header, nav, ul, li, a, p, span, strong, em, footer, section, h1, h2, h3, h4 {
    margin:0;
    padding:0;
}


.container{
  width: 90%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.jumbotron{
  width: 75%;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.text-center{
	text-align: centerd;
}

.aligned-text{
	text-align: justify;
}

.display-inline-div{
	display: inline-block;
}

.centered-div {
  width: 80% 
  margin-right: auto;
  margin-left: auto;
  padding-left: 10%;
  padding-right: 10%;
}

#registeration-form{
	width: 50%;
	margin-right: auto;
  	margin-left: auto;
  	padding: 15px;
	border: 1px solid #2c3e50;
	border-radius: 1%;
}

.centered-button {
  width: 35%; 
  margin-right: auto;
  margin-left: auto;
  padding: 0px;
}

#login-form{
  padding-left: 120px;
}

.col-centered{
    float: none;
    margin: 0 auto;
}

/* alert messages*/
.alerts-div {
	position: fixed;
	height: 60px;
	top: 0%;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	font-size: 15px;
}

/* chatbox */
#chatbox {
  width:100%;
  height: 300px;
}

#chatbox #messagebox {
  position: absolute;
  bottom: 5px;
  width:100%;
}

#chatbox #messagebox > input[type="text"] {
  width: 90%;
}

#chatbox #messagebox > input[type="submit"] {
  width: 9%;
}